DATABASE_URL=postgres://root:mysecretpassword@localhost:5433/db_test

POSTGRES_DB=db_test
POSTGRES_USER=root
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_INITDB_ARGS=--encoding=UTF-8

# GitHub OAuth
GITHUB_CLIENT_ID=your_github_client_id_here
GITHUB_CLIENT_SECRET=your_github_client_secret_here
GITHUB_AUTHORIZE_URL=https://github.com/login/oauth/authorize
GITHUB_TOKEN_URL=https://github.com/login/oauth/access_token
GITHUB_USER_URL=https://api.github.com/user
GITHUB_USER_EMAILS_URL=https://api.github.com/user/emails
GITHUB_CALLBACK_URL=http://localhost:5173/auth/callback/github

# 42 OAuth (if using)
FORTYTWO_CLIENT_ID=your_42_client_id_here
FORTYTWO_CLIENT_SECRET=your_42_client_secret_here
FORTYTWO_AUTHORIZE_URL=https://api.intra.42.fr/oauth/authorize
FORTYTWO_TOKEN_URL=https://api.intra.42.fr/oauth/token
FORTYTWO_USER_URL=https://api.intra.42.fr/v2/me
FORTYTWO_CALLBACK_URL=http://localhost:5173/auth/callback/42

# Public OAuth redirect URI
PUBLIC_OAUTH_REDIRECT_URI=http://localhost:5173/auth/callback

# OAuth Token Encryption
OAUTH_ENCRYPTION_KEY=your_64_hex_char_encryption_key_here
