# Development Database Connection
# Port 5432 - This is your REAL development database
# For TESTING the port is 5433

DATABASE_URL=postgres://your_postgres_user:your_password@localhost:your_port_number/your_test_db_name
DB_URL=postgres://your_postgres_user:mysecretpassword@localhost:your_port_number/your_test_db_name

DB_PORT=your_port_number
POSTGRES_DB=your_test_db_name
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_password
POSTGRES_INITDB_ARGS=your_encoding_used

# GitHub OAuth
GITHUB_CLIENT_ID=your_github_client_id_here
GITHUB_CLIENT_SECRET=your_github_client_secret_here
GITHUB_AUTHORIZE_URL=https://github.com/login/oauth/authorize
GITHUB_TOKEN_URL=https://github.com/login/oauth/access_token
GITHUB_USER_URL=https://api.github.com/user
GITHUB_USER_EMAILS_URL=https://api.github.com/user/emails
GITHUB_CALLBACK_URL=http://localhost:your_github_oauth_port/auth/callback/github

# 42 OAuth (if using)
FORTYTWO_CLIENT_ID=your_42_client_id_here
FORTYTWO_CLIENT_SECRET=your_42_client_secret_here
FORTYTWO_AUTHORIZE_URL=https://api.intra.42.fr/oauth/authorize
FORTYTWO_TOKEN_URL=https://api.intra.42.fr/oauth/token
FORTYTWO_USER_URL=https://api.intra.42.fr/v2/me
FORTYTWO_CALLBACK_URL=http://localhost:your_42_oauth_port/auth/callback/42

# Public OAuth redirect URI
PUBLIC_OAUTH_REDIRECT_URI=http://localhost:your_port_for_public_oath_redirect/auth/callback

# OAuth Token Encryption
OAUTH_ENCRYPTION_KEY=your_64_hex_char_encryption_key_here
